@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root
{
    --main_clr : #ff5625;
    --body-clr : #f5f5f5;
    --body-ff : 'Roboto', sans-serif;
    --head_FS : 1em;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    user-select:none;
}
body{
    margin:0 100px 0 100px;
    background-color: var(--body-clr);
    font-family: var(--body-ff);
    font-weight: 350;
}
header{
    font-size: var(--head_FS);
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid var(--main_clr);
}
#logo{
    width: 200px;
}
header .header-list{
    display: flex;
    margin-bottom: 1em;
}
header .header-list ul{
    display: flex;
    list-style: none;
    align-self: flex-end;
}
header .header-list ul a
{
    text-decoration: none;
    padding: 0 15px 0 15px;
    color:black;
    font-weight: 500;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}
header .header-list ul a:hover
{
    border-bottom: 3px solid var(--main_clr);
}




/* Main Content */

.main-content
{
    display: flex;
    
}

/*Side Nav*/
section .side-nav ul
{
    font-size: 1.1em;
    list-style: none;
}
section .side-nav ul .heading
{
    font-size: 1em;
    padding:10px;
}
section .side-nav ul li 
{
    margin: 10px;
}
section .side-nav ul li a
{
    font-size: 1.1em;
    font-weight: 500;
    color: gray;
    text-decoration: none;
    line-height: 35px;
    padding:10px;
    border-left: 5px solid transparent;
    transition: 0.5s border;
}
section .side-nav ul li a:hover
{
    border-left: 5px solid var(--main_clr);
}
section .side-nav ul .side-sub-list a
{
    font-size: 0.8em;

}
section .side-nav ul .side-sub-list 
{
   display: none;
}
section .side-nav ul .show
{
    display: block;
}








/*Section Main Content*/
.main-content
{
    margin-top:5em ;
}






/* Product card*/
.products-grid
{
    position: relative;
    left:10px;
    display: grid;
    grid-template-columns: 320px 320px 320px;
    grid-auto-rows: 300px;
}
.products-grid .card
{
    font-size: 1em;
    display: flex;
    width: 470px;
    line-height:1.5 ;
    transition: 0.2s transform;
    align-self: start;

} 
.products-grid .card:hover
{
    transform: scale(1.02);
}
.products-grid .card img
{
    position: relative;
    height: 200px;
    padding: 0;
    left:40px;
    transform: scale(1.4);
}
.products-grid .card .product-details
{
    border: 0px solid black;
    border-radius: 20px;
    padding: 1em 1em 1em 3em;
    background-color: white;
    overflow: hidden;
    height: 250px;
    width: 250px;
    transform: translateY(-20px);
    z-index: -1;
    position: relative;
    left: -30px;
}

.products-grid .card .product-details .product-size
{
    padding:1.5em 0 0 0 ;
    font-weight: 800;
}
.products-grid .card .product-details a
{
    text-decoration: none;
}
.products-grid .card .product-details a h2
{
    color: var(--main_clr);
    position: relative;
    left:90px;
    top:50px;
}
.products-grid .card .product-details a h2:hover
{
    border-bottom: 5px solid var(--main_clr);
}
